.style-guide__wrapper {
  @include absolute(0);

  z-index: $z-index-layout-col-3;
  overflow: auto;
}

.style-guide {
  margin: 0 auto;
  max-width: 100%;
  width: 1200px;
  padding: 40px 15px;
}

.style-guide__buttons {
  .button {
    margin-bottom: 8px;
  }
}

.style-guide__contexts {
  .context,
  .select,
  .time-select {
    display: inline-block;
    position: relative;
    margin-right: 40px;
    vertical-align: top;
  }
}

.style-guide__color-contrast-table {
  margin-top: 12px;
  border-collapse: collapse;

  th,
  td {
    padding: 8px 12px;
    border: 1px solid $color-neutral-200;
    text-align: left;
  }
}

.style-guide__color-contrast-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: 1px solid $color-neutral-200;
}

.style-guide__color-contrast-preview-inner {
  width: 28px;
  height: 28px;
}
